:root {
    --Soft-Red: hsl(0, 94%, 66%);
    --Soft-Blue: hsl(231, 69%, 60%);
}

body {
    font-family: 'Rubik', sans-serif !important;
}
.navbar{
    background-color: #fff!important;
}
.navbar-toggler {
    border: none;
}

.bg-active {
    background: rgba(37, 43, 70, 0.85);
    backdrop-filter: blur(5px);
}

.btn-login {
    outline: none;
    padding: 5px 35px;
    border: 1px solid var(--Soft-Red);
    background-color: var(--Soft-Red);
    color: white;
    border-radius: 7px;
    transition: 0.6s;
}

.button {
    outline: none;
    padding: 10px 25px;
    border: 1px solid #434343;
    border-radius: 3px;
    transition: 0.6s;
    font-size: 18px;
}

.btn-login:hover {
    background-color: transparent !important;
    color: var(--Soft-Red);
}

.nav-link:hover {
    color: var(--Soft-Red) !important;
}

.hero--image {
    position: relative;
}

.figure {
    position: absolute;
    width: 80%;
    height: 80%;
    background-color: var(--Soft-Blue);
    right: 0;
    border-radius: 0 0 0 30%;
    bottom: 0;
    z-index: -999;
}

.hero--text {
    width: 40% !important;
}

.hero--text h1 {
    color: #434343;
    font-size: 40px;
    font-weight: 500;
}

.hero--text p {
    color: #434343;
    font-size: 18px;
    font-weight: 500;
}

.btn-chrome {
    background-color: var(--Soft-Blue);
    color: white;
    border: 1px solid var(--Soft-Blue);
}

.btn-chrome:hover {
    background-color: white;
    color: var(--Soft-Blue);
}

.btn-fox {
    background-color: #f2f2f2 !important;
    border: 1px solid #434343;
    color: #434343;
}

.btn-fox:hover {
    background-color: white;
}

.offcanvas-header {
    display: none !important;
}

.btn--close {

    outline: none;
    border: none;
    font-size: 28px !important;
    background-color: transparent !important;
    color: #fff;
}

.main {
    font-size: 18px !important;
}

.main p {
    text-align: center;
    color: #434343;
}
.tabs li a{
    cursor: pointer;
    color: #434343!important;
}
.tabs .nav-link{
    position: relative !important;
}
.selected::after {
    position: absolute !important;
    content: " ";
    left: 0;
    bottom: 0;
    width: 100%;
    border: 2px solid var(--Soft-Red);
}
.tabs{
    flex-direction: row !important;;
}
@media only screen and (max-width: 990px) {
    .main p {
        width: 100% !important;
    }
    .tabs{
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;;
    }
    .offcanvas-header {
        display: flex !important;
    }

    .offcanvas-body .nav-item {
        width: 100% !important;
        border-top: 1px solid #fff;
        padding: 25px 0;
    }

    .offcanvas-body .nav-link {
        color: #fff !important;
        font-weight: 500;
        font-size: 24px !important;
    }

    .navbar-nav {
        gap: 0 !important;
    }

    .btn-login {
        width: 100%;
        padding: 15px 25px !important;
        border-color: white;
        background-color: transparent;
        font-weight: 500;
        font-size: 24px !important;
    }

    .hero--text {
        width: 100% !important;
    }

    .button {
        font-size: 16px;
    }
}